img {
    width: 100%;
} 
body {
    background-image: url(../img/cork.png);
    background-size: cover;
}

.bg-gray {
    background-image: url(../img/wall.png);
    height: 100%;
}
.title {
    font-family: "Sometype Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: oblique;
    font-size: 6rem;
}

.puntina {
    width: 13%;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
} 

.my-text { 
    font-family: "Edu TAS Beginner", serif;
    font-weight: 400;
    font-style: oblique;
    color : #808080;
    font-size: 1,5rem;
}


.my-modal {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.my-modal-body {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modale-img {
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
